/* Desktop version made first and then apply mobile version */

:root {
  --color-primary: #363636;
  --color-secondary: #f1f1f1;
  --color-accent: #fdd80f;
  --color-headings: #000;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */
::selection {
  background-color: var(--color-accent);
  color: var(--color-secondary);
}

/* Set 1 rem equal to 10px */
html {
  font-size: 62.5%;
}

body {
  color: var(--color-primary);
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  font-family: "Oleo Script Swash Caps", cursive;
  line-height: 1.1;
  margin-bottom: 1rem;
}
h1 {
  font-size: 8rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 2.4rem;
}
p {
  margin-top: 0;
}

@media screen and (max-width: 1024) {
  body {
    font-size: 2.4rem;
  }
  h1 {
    font-size: 7rem;
  }
  h3 {
    font-size: 3rem;
    font-weight: 600;
  }
}

/* Buttons */
.btn {
  display: inline-block;
  border-radius: 40px;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1rem;
  padding: 1rem 3vw;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  outline: 0;
}

.btn--primary {
  background-color: var(--color-primary);
  color: #fff;
}

.btn--primary:hover {
  background-color: #282828;
  box-shadow: inset 1rem 1rem rgba(22, 0, 81, 0.118);
}

@media screen and (max-width: 1024px) {
  .btn {
    font-size: 1.5 rem;
  }
}

/* Articles */
.separator {
  font-size: 0.7rem;
  opacity: 0.9;
}

.line {
  stroke: var(--color-primary);
  stroke-width: 2;
  vertical-align: middle;
}

.article-title {
  margin-left: 10px;
  margin-top: 0;
}

.article-text {
  margin-left: 30px;
  min-width: 250px;
}

.article-footer {
  margin-top: 10px;
  text-align: right;
}

/* Flexbox */
.flex-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  margin: 0 10%;
}

.flex__item--1x2 {
  flex-basis: 40%;
}

@media screen and (max-width: 726px) {
  .flex-container {
    flex-direction: column;
    max-width: 400px;
    justify-content: center;
  }
}

/* Navbar */
.navbar {
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
}

.navbar__list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.navbar__item > a {
  text-decoration: none;
  color: var(--color-secondary);
  transition: all 0.3s;
  margin: 0;
}
.navbar__item:hover {
  border-left: 1px solid #232323;
  border-right: 1px solid #232323;
  text-shadow: #fff 0.5px 0 3px;
}

.navbar__item {
  border-top: 1px solid #232323;
  padding: 1rem 0;
}

.navbar__icon {
  /* TODO:correct the margin value(not hard codding) */
  margin: 0.65rem 4rem;
  width: 50px;
  cursor: pointer;
}

.collapsible {
  display: none;
}

@media screen and (min-width: 726px) {
  .navbar__list {
    flex-direction: row;
  }
  .navbar__item {
    padding: 0 2rem;
    border: 0;
  }
  .navbar__toggler {
    display: none;
  }
  .collapsible {
    display: flex;
  }
}
