/* Desktop version made first and then apply mobile version */

:root {
  --color-primary: #363636;
  --color-secondary: #f1f1f1;
  --color-accent: #fdd80f;
  --color-headings: #000;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */
::selection {
  background-color: var(--color-accent);
  color: var(--color-secondary);
}

/* Set 1 rem equal to 10px */
html {
  font-size: 62.5%;
}

body {
  color: var(--color-primary);
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
  background-color: var(--color-headings);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  color: var(--color-secondary);
  line-height: 1.1;
  margin-bottom: 1rem;
}
h1 {
  font-size: 8rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 2.4rem;
}
p {
  margin-top: 0;
}

@media screen and (max-width: 1024) {
  body {
    font-size: 2.4rem;
  }
  h1 {
    font-size: 7rem;
  }
  h3 {
    font-size: 3rem;
    font-weight: 600;
  }
}

/* Buttons */
.btn {
  display: inline-block;
  border-radius: 40px;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1rem;
  padding: 1rem 3vw;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  outline: 0;
}

.btn--primary {
  background-color: var(--color-primary);
  color: #fff;
}

.btn--primary:is(:hover, :focus) {
  background-color: #282828;
  box-shadow: inset 1rem 1rem rgba(22, 0, 81, 0.118);
}

.btn--outline {
  border: 2px solid var(--color-secondary);
  background-color: var(--color-accent);
  color: var(--color-secondary);
}
.btn--outline:is(:hover, :focus)) {
  background-color: var(--color-headings);
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .btn {
    font-size: 1.5 rem;
  }
}

/* Articles */
.separator {
  font-size: 0.7rem;
  opacity: 0.9;
}

.line {
  stroke: var(--color-primary);
  stroke-width: 2;
  vertical-align: middle;
}

.article-title {
  margin-left: 10px;
  margin-top: 0;
}

.article-text {
  margin-left: 30px;
  min-width: 250px;
}

.article-footer {
  margin-top: 10px;
  text-align: right;
}

/* Flexbox */
.flex-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  margin: 0 10%;
}

.flex__item--1x2 {
  flex-basis: 40%;
}

@media screen and (max-width: 726px) {
  .flex-container {
    flex-direction: column;
    max-width: 400px;
    justify-content: center;
  }
}

/* Navbar */
.navbar {
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
}

.navbar__list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.navbar__item > a {
  text-decoration: none;
  color: var(--color-secondary);
  transition: all 0.3s;
  margin: 0;
}
.navbar__item:is(:hover, :focus) {
  border-left: 1px solid #232323;
  border-right: 1px solid #232323;
  text-shadow: #fff 0.5px 0 3px;
}

.navbar__item {
  border-top: 1px solid #232323;
  padding: 1rem 0;
}

.navbar-mobile-version {
  display: flex;
  justify-content: space-between;
}

.navbar__icon {
  /* TODO:correct the margin value(not hard codding) */
  margin: 0.65rem 4rem;
  width: 50px;
  cursor: pointer;
}

.collapsible {
  display: none;
}

@media screen and (min-width: 726px) {
  .navbar__list {
    flex-direction: row;
  }
  .navbar__item {
    padding: 0 2rem;
    border: 0;
  }
  .navbar__toggler {
    display: none;
  }
  .collapsible {
    display: flex;
  }
}

/* Hero block */
.hero-block {
  position: relative;
  height: 400px;
  overflow: hidden;
  width: 100%;
}
.hero-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}

.hero-headline {
  position: absolute;
  left: 10%;
}
/* FIXME: */
.hero-headline h2,
p {
  color: var(--color-secondary);
  text-shadow: var(--color-headings) 1px 0 10px;
}

.hero-title {
  font-size: 7rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.hero-text {
  font-size: 2rem;
  margin-bottom: 10px;
  line-height: 1.5rem;
}

.slider-btn {
  position: absolute;
  opacity: 0.5;
  top: 50%;
  font-size: 1em;
  background: transparent;
  border: none;
  color: var(--color-secondary);
  cursor: pointer;
}

.slider-btn-right {
  right: 20px;
}

.slider-btn-left {
  left: 20px;
}

@media screen and (min-width: 726px) {
  .hero-title {
    font-size: 6rem;
  }
  .hero-headline {
    top: 20%;
  }
}

/* Course card */

.course-card {
  position: relative;
  width: 300px; /* adjust to your image size */
  height: 200px; /* adjust to your image size */
  border: 3px solid var(--color-headings);
  border-radius: 20px;
  overflow: hidden;
}

.course-card img {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.image-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.image-overlay h2 {
  color: var(--color-secondary);
  font-size: 16px;
  text-align: center;
  padding: auto;
}

.course-card:is(:hover, :focus) img {
  -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
  filter: blur(2px);
  transform: scale(1.05);
}

.course-card:is(:hover, :focus) .image-overlay {
  opacity: 1;
}

/* Course cards container */

.course-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 0 auto;
  padding: 50px;
}

.card {
  width: 30%;
  height: 200px;
  margin: 10px 50;
  background-color: #f2f2f2;
}

@media screen and (max-width: 980px) {
  .card {
    margin: auto 10px;
  }
  .course-cards-container {
    padding: 0;
  }
}
@media screen and (max-width: 726px) {
  .card {
    width: 100%;
    margin: auto 100px;
  }
}

/* Footer */
.footer-block {
  background-color: #000;
  /* display: flex;
  flex-direction: column; */
}

.footer-section {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--color-primary);
  padding: 2rem;
}

.join-banner-content {
  flex-basis: 70%;
}

.join-banner-btn {
  flex-basis: 3rem;
  margin-left: auto;
}
.footer-main {
  justify-content: space-around;
}

.footer-column ul {
  list-style: none;
}

.footer-column ul > li {
  text-decoration: none;
}

/* Search block */

.search-block {
  background-color: black;
  height: 60px;
  padding: 1rem 3rem;
}
.search-form {
  display: flex;
  justify-content: space-around;
}
.search-box {
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  height: 40px;
  display: inline-block;
  flex-basis: 65%;
  display: flex;
}

.search-input {
  height: 40px;
  border: 0;
  background-color: white;
  width: 100%;
}

.search-btn {
  border: 0;
  background-color: white;
  height: 40px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.search-btn:is(:hover, :focus) {
  transform: scale(1.1);
}

.sortby {
  flex-basis: 20%;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
}

/* Block */
.block {
  padding: 2rem 0;
  border-bottom: 1px solid #232323;
}

/* Scroll To Top Button */
#scrollToTopBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 1; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 100%; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#scrollToTopBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
