<article class="article">
  <div class="article-body">
    <p class="separator">
      CH 12 kljh
      <svg class="line" height="1" width="100px">
        <line x1="0" y1="0" x2="10vw" y2="0" />
      </svg>
    </p>
    <h2 class="article-title">The Designer's Role</h2>
    <p class="article-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
      inventore necessitatibus ad a quaerat quae ex dolorem sit natus
      consectetur eaque iste labore et quibusdam, explicabo, velit dolore
    </p>
  </div>
  <div class="article-footer">
    <a class="btn btn--primary" href="#">Read more...</a>
  </div>
</article>
