<section class="footer-block">
  <div class="footer-section">
    <div class="join-banner-content">
      <h2>Teach the world online</h2>
      <p>
        Create an online video course, reach students across the globe, and earn
        money
      </p>
    </div>
    <div class="join-banner-btn">
      <a href="#" class="btn btn--primary">Let's Start</a>
    </div>
  </div>

  <div class="footer-section footer-main">
    <div class="footer-column">
      <ul>
        <li><a href="#">Start Your Business</a></li>
        <li><a href="#">Multiple Account</a></li>
        <li><a href="#">Get the app</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Contact us</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <ul>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Help and Support</a></li>
        <li><a href="#">Affiliate</a></li>
        <li><a href="#">Investore</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <ul>
        <li><a href="#">Terms</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Cookie setting</a></li>
        <li><a href="#">Sitemap</a></li>
        <li><a href="#">Accessibility statement</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <a class="btn btn--primary" href="#"><span></span>English</a>
    </div>
  </div>
</section>
