<section style="background-color: #e8e5e0" class="flex-container">
  <article class="article flex__item--1x2">
    <div class="article-body">
      <p class="separator">
        CH 12 kljh
        <svg class="line" height="1" width="100px">
          <line x1="0" y1="0" x2="10vw" y2="0" />
        </svg>
      </p>
      <h2 class="article-title">The Designer's Role</h2>
      <p class="article-text">text</p>
    </div>
    <div class="article-footer">
      <a class="btn btn--primary" href="#">Read more...</a>
    </div>
  </article>

  <div class="flex__item--1x2">
    <img style="width: 100%" src="./images/minimal1.jpg" alt="" />
  </div>
</section>
